*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nana {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto repeat(2, 1fr) auto;
    grid-template-rows: 1fr auto;
    gap: 15px 15px;
}
.nana div{
    background-color: #403f3f;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
