*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.nana {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    justify-content: space-around;
    align-content: space-between;
}
.nana div{
    background-color: #e91e63;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}